@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid p-3 mb-2 bg-secondary text-white">
    <div class="container-fluid">
        <h1 class="text-center">Ambaza High</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="jumbotron p-3 mb-2 bg-light text-dark col-md-6">
        <div class="container">
            <h2 class="text-center">Welcome to Ambaza High</h2>
            <p class="text-center">
               Ambaza High is a sample application built in a 
               ASP.NET Core MVC web application.
            </p>
        </div> 
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="jumbotron p-3 mb-2 bg-light text-dark col-md-4">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    @* <div class="col-md-1"></div> *@
    <div class="jumbotron p-3 mb-2 bg-light text-dark col-md-4">
        <h2>Sed ut perspiciatis</h2>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem.</p>
        <p>Vel illum qui dolorem eum fugiat quo voluptas.</p>   
    </div>
    <div class="col-md-2"></div>
</div>